<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Pedalr" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="contain-to-grid fixed">
    <div class="border">
    <nav class="top-bar docs-bar hide-for-small" data-topbar>
    <ul class="title-area">
      <li class="name">
        <img class="link-logo" src="/assets/logo.png" id="home">
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="#" class="link-bikes">Bikes</a>
        </li>
        <li>
          <a href="#" class="link-parts">Parts</a>
        </li>
        <li>
          <a href="#" class="link-clothes">Clothes</a>
        </li>
        <li>
          <a href="#" class="link-accessories">Accessories</a>
        </li>
        <li>
          <a href="#" class="link-market">Market</a>
        </li>
        <li class="has-form">
          <a href="#" class="small button link-join">Join</a>
        </li>
      </ul>
    </section>
    </nav>
    <nav class="tab-bar show-for-small">
      <a class="left-off-canvas-toggle menu-icon">
        <span>Pedalr</span>
      </a>
    </nav>
</div>
  </div>
<div class="spacer"></div>
  <%= yield :body %>


    <%= javascript_include_tag "application" %>
  </body>
</html>